<div  id="template_view_7"  class="container-fluid  animated fadeIn kioview">
	<div class="row top-row">
		<div class="col-md-12">
			<div id="LOGO_IMG">
				&nbsp;
			</div>
			<div class="row">
				<div class="col-md-6 animated fadeIn">
					<h3>Seven</h3>
				</div>
			</div>
			<div class="row "  >
				<div class="col-md-6">
					<a type="button" class="img-btn btn   animated slideInLeft delay1" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
				<div class="col-md-6">
					<a type="button" class="img-btn btn   animated slideInRight delay1" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a type="button" class="img-btn btn    animated slideInLeft delay2" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
				<div class="col-md-6">
					<a type="button" class="img-btn btn    animated slideInRight delay2" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<a type="button" class="img-btn btn    animated slideInLeft delay3" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
				<div class="col-md-6">
					<a type="button" class="img-btn btn    animated slideInRight delay3" style="width:100%;"> <img   src="./img/generic_button.png" height=10% width=10% /> </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BACKGROUND IMAGES -->
<div id="BG_IMG">
	&nbsp;
	<!-- <img src="img/sky.jpg"> -->
</div>
<div id="BG_IMG_LEFT">
	&nbsp;
</div>
<div id="BG_IMG_RIGHT">
	&nbsp;
</div>
<div id="BG_IMG_TOP">
	&nbsp;
</div>
<!-- end of BACKGROUND IMAGES -->
<script>
	( function() {
			$('#BG_IMG').addClass('gradient6');
			//be sure to remove unwanted classes before applying a new one.
		}()); 
</script>