<div  id="template_view_6"  class="container-fluid  animated fadeIn kioview">
	 
	<div class="row top-row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6 animated fadeIn">
					<h3>six</h3>
					<h3>
						 h3. Lorem ipsum dolor sit amet.
					</h3>
				</div>
				<div class="col-md-6  animated fadeIn">
					<p>
						Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit.   <em>Morbi commodo sodales nisi id sodales.  <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
					</p>
				</div>
			</div>
			<div class="row" style="margin-top:5%;text-align:center;">
				<div class="col-md-6">
					 
					<a type="button" class="img-btn btn   animated slideInLeft delay1 "  ><!-- style="width:50%;height:48%;" -->
						<img   src="./img/generic_button.png" height=100% width=100% />
					</a>
				</div>
				<div class="col-md-6">
					 
					<a type="button" class="img-btn btn   animated slideInRight delay1 "   ><!-- style="width:50%;height:48%;" -->
						<img   src="./img/generic_button.png" height=100% width=100% /> 
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- BACKGROUND IMAGES -->
<div id="BG_IMG">
	&nbsp;
	<!-- <img src="img/sky.jpg"> -->
</div>
<div id="BG_IMG_LEFT">
	&nbsp;
</div>
<div id="BG_IMG_RIGHT">
	&nbsp;
</div>
<div id="BG_IMG_TOP" style="height:35% !important;"> <!-- override preset height: style="height:35% !important;" -->
	&nbsp;
	<img src="img/sky.jpg">
</div>
<!-- end of BACKGROUND IMAGES -->
<script>
	( function() {
		$('#BG_IMG').addClass('gradient6');//be sure to remove unwanted classes before applying a new one.
		}()); 
</script>